<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Categoria</title>
</head>
<body>
    <h1>TESTE DE LISTAGEM</h1>

    <% categoria.forEach(categoria=>{ %>
        <%= categoria.nome_categoria %> 
    <%>}) %>
    
</body>
</html>